<% include _header %>
<h1>Welcome to Library!</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Users</th>
        <th>Bio</th>
    </tr>
    </thead>
    <tbody>
    <% users.forEach(function(user) { %>
    <tr>
        <td><a href="/users/<%= user._id %>">
                <%= user.name() %>
            </a>
        </td>
        <td>
            <% if (user.bio && user.bio !== null) { %>
            <div class="panel-body"><%= user.bio %></div>
            <% } else { %>
            <p>No bio yet</p>
            <% } %>
        </td>
    </tr>
    <% }) %>
    </tbody>
</table>

<% include _footer %>